# This file will control the behavior of QUIVER.
# Blank lines and lines starting with # will be ignored.

# scaling factor for frequencies
#scaling 0.963
scaling 1.000

frequency_threshold 50
imag_threshold 50

# temperature in K
temperature 298.15

# reference isotopomer
# KIEs will be referenced to this
# use 0 for no referencing
reference_isotopomer default
mass_override_isotopomer default

# define the isotopomers here
#
# isotopomer number, atom number in ground state, atom number in transition state, replacement atomic weight
#
# isotopomer number should start at 1 and increase 1 at a time
#
# for example, isotopomer 1 2 4 3 replaces atom 2 in the gs with tritium and atom 4 in the ts with tritium
# add additional lines to give multiple replacements within a single isotopomer
isotopomer C6 4 6 13C
isotopomer C5 5 5 13C
isotopomer C18 2 18 13C
isotopomer C21 7 21 13C
